.vaFlex-Container {

    display: flex;
    flex-flow: row wrap;
    height:600px;
    width: 1100px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin-top: 25px;
    justify-content: center;
}