
.rental-body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem 1rem;
    padding: 0 1rem;
    background: rgb(255, 255, 150);
  }

  .alt-rental-property {
    position: relative;
    display: flex;
    border: .1rem dotted lightgray;
    margin: 1rem 1rem;
    font: normal normal 16px/20px Arial san-serif;
  
    height: 13rem;
    
    width: 45%;
  }
  
  .rental-property {
    border: .1rem dotted lightgray;
    margin: 1rem 0;
    font: normal normal 16px/20px Arial san-serif;
    height: 19rem;
    width: 21rem;
    margin: 1rem .3rem;
  }

  .rental-title {
    font: bold normal 12px/.5 'Trebuchet MS', Verdana, Calibri, san-serif;
    width: 100%;
    text-align: left;
    height: .1rem;
  }

  .rental-subtitle {
    font: bold normal .8rem Verdana, 'Trebuchet MS', san-serif;
    text-align: left;
    width: 100%;
  }
 
  .rental-price {
    font: normal normal .8rem  'Trebuchet MS', san-serif;
    text-align: left;
    color: lightslategray;
    width: 100%;
    height: .5rem;
  }

  .rental-type {
    font: normal normal .8rem  'Trebuchet MS', san-serif;
    text-align: left;
    width: 100%;
    height: .5rem;
  }
  
/* .author-description {
    height: 1rem;
    width: 100%;
    font: normal normal 12px/1.1 Arial, san-serif;
    text-align: left;
  } */
  
  
.image-position {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    /* height: 70vh; */
    width: 100%;
  }

  .alt-image-position {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 40%;
    height: 100%;
  }
  
  
  .image-box {
    width: 100%;
    height: 50vmin;
    border-radius: .2rem;
  }
  

  .property-info {
    margin: 0 .5rem;
    padding: .1rem .1rem;
    width: 100%;
    text-align: left;
    padding-left: .1rem;
    
  }

  
.btn {
    height: 2rem;
    width: 8rem;
    /* margin: 0 auto; */
  
    /* padding: 0 0; */
  
    font-size: 80%;
    color: black;
  
    border-radius: .3rem;
    background: moccasin;
  }

  .shopping-cart {
    width: 90%;
    border: .05rem dashed brown;
    border-radius: .5rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    margin-left: 5%;
  }