@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.container {
  width: 30%;
  height: 360px;
  display: inline-block;
  position: relative;
  border: 1px solid rgb(217, 218, 220);
  border-radius: 5px;
  margin-top: 16px;
  margin-right: 14px;
  vertical-align: top;
  overflow: hidden;
  z-index: 0;
}

.header {
  width: 100%;
  height: 100px;
  margin: 0 200px 0 auto;
  display: inline-block;
  position: relative;
  text-align: right;
}

.header h1 {
  margin-right: 20px;
  font-weight: 100;
}

.rental-card {
  width: 50%;
  height: 160px;
  border-radius: 2px !important;
  margin-top: 10px;
  margin-left: 0;
  position: relative;
  clear: both;
  display: inline-block;
}

.img {
  width: 100%;
  height: 75%;
  float: left;
  display: block;
  position: relative;
  object-fit: cover;
  background-position: 50% 50% !important;
  background-size: cover !important;
}

.title {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, .84);
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: left;
}

.h2 {
  font-size: 21px;
  line-height: 24px;
  color: rgba(0, 0, 0, .84);
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 100px;
  font-weight: 700;
  text-align: left;
}

.fontLight {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, .54);
  margin-left: 210px;
  margin-top: 4px;
  text-align: left;
  font-weight: 200;
}

.fontMedium {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .84);
  margin-left: 10px;
  margin-top: 4px;
  position: relative;
  text-align: left;
  float: left;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.addToCartButton {
  width: 150px;
  height: 50px;
  display: block;
  float: right;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  font-weight: 100;
  outline: none;
}

.addToCartButton:hover {
  background-color: rgb(76, 70, 70);
}

.shoppingCart {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 55px;
  font-size: 12px;
  text-align: right;
}

.screen {
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: 9;
  background-color: rgba(178, 178, 178, 0.74);
}

.cart {
  width: 40%;
  height: 100%;
  top: 25;
  display: block;
  position: absolute;
  margin: 0 0 0 64%;
  padding: 0 6px 0 0;
  border: 1px solid grey;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.99);
  text-align: right;
  z-index: 10;
}

.cart h1 {
  margin-right: 14%;
}

.cartItem {
  display: block;
  width: 65%;
  height: auto;
  margin: 5px auto 15px auto ;
  padding:0 15px 15px 60px;
  display: block;
  float: left;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  line-height: 7px;
  z-index: 10;
  -webkit-box-shadow: 10px 14px 53px -12px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 14px 53px -12px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 14px 53px -12px rgba(0, 0, 0, 0.35);
}

.removeItemButton {
  width: 150px;
  height: 30px;
  border: 1px solid grey;
  position: relative;
  float: right;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.showCartButton {
  width: 110px;
  height: 25px;
  margin: 0 20px 10px 0;
  color: #3e1bd9;
  border: 1px solid#3e1bd9;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.showCartButton:hover,
.removeItemButton:hover, 
.toggleViewButton:hover,
.closeCartButton:hover {
  color: #ffffff !important;
  background-color: #f272ae;
  border-radius: 50px;
  border-color: #ffffff !important;
  transition: all 0.3s ease 0s;
}

.closeCartButton {
  width: 110px;
  height: 25px;
  margin: 0 14% 0 0;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
