@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 30%;
  height: 360px;
  display: inline-block;
  position: relative;
  border: 1px solid rgb(217, 218, 220);
  border-radius: 5px;
  margin-top: 16px;
  margin-right: 14px;
  vertical-align: top;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100px;
  margin: 0 200px 0 auto;
  display: inline-block;
  position: relative;
  text-align: right;
}

.header h1 {
  margin-right: 20px;
  font-weight: 100;
}


.rental-card {
  width: 50%;
  height: 160px;
  border-radius: 2px !important;
  margin-top: 10px;
  margin-left: 0;
  position: relative;
  clear: both;
  display: inline-block;
}

.img {
  width: 100%;
  height: 75%;
  float: left;
  display: block;
  position: relative;
  object-fit: cover;
  background-position: 50% 50% !important;
  background-size: cover !important;
}

.title {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, .84);
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: left;
}

.h2 {
  font-size: 21px;
  line-height: 24px;
  color: rgba(0, 0, 0, .84);
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 100px;
  font-weight: 700;
  text-align: left;
}

.fontLight {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, .54);
  margin-left: 210px;
  margin-top: 4px;
  text-align: left;
  font-weight: 200;
}

.fontMedium {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .84);
  margin-left: 10px;
  margin-top: 4px;
  position: relative;
  text-align: left;
  float: left;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.addToCart {
  width: 150px;
  height: 50px;
  display: block;
  float: right;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  bottom: 0;
  font-weight: 100;
}

.addToCart:hover {
  background-color: rgb(76, 70, 70);
}

.shoppingCart {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 55px;
  font-size: 12px;
  text-align: right;
}
