.Cart {
    font-size: 1em;
    color: Grey;
    align: left;
    margin: 20px;

}

.Cart__button {
    border: none;
    font-size: 2em;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
}

.Cart__button--addroom {
    align: right;
    color: red;
}

.Cart__button--removeroom {
    background-color: red;
}

.Cart__button--clear {
    

}