.Cart {
    background-color: #000000;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 0;
    text-align: right;

}


@media (max-width: 650px) {
    .Cart {
        font-size: 30px;
    }
}